/* 하단영역 */
.footer {
  width: 100%;
  height: 400px;
  background-color: #1e1e1e;
}
.footer-main {
  width: 100%;
  height: 300px;
  padding: 40px 0px;
}

.footer-main .layout {
  max-width: 1170px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}
.footer-main .layout .left {
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo a {
  display: block;
  width: 121px;
  height: 20px;
}
.footer-logo a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-txt {
  color: #999999;
  margin-bottom: 40px;
}

.footer-link {
}
.footer-link a {
  display: inline-block;
  padding: 11px 20px;
  background-color: #f9c500;
  font-weight: 700;
  text-decoration: none;
  color: #1e1e1e;
  border-radius: 20px;
}

.footer-main .layout .right {
  display: flex;
  gap: 85px;
}
.site-map-list {
  list-style: none;
}
.site-map-list li {
  margin-bottom: 25px;
}
.site-map-list li:first-child {
  margin-bottom: 35px;
}
.site-map-list li:last-child {
  margin-bottom: 0;
}

.site-map-list li b {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
.site-map-list li a {
  color: #999999;
  text-decoration: none;
}

.footer-copy {
  width: 100%;
  height: 100px;
}
.footer-copy .layout {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}
.footer-copy .layout .left {
}
.footer-copy .layout .right {
}
